<header class="mb-7">
    <nav class="navbar navbar-expand-sm  navbar-dark " style="background-color: #036f80;">
    <a class="navbar-brand" routerLink="/home">{{brand}}</a> 
     
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <ul class="navbar-nav">
            <li class="nav-item active" *ngFor="let link of links">
                <a class="nav-link" [routerLink]="link.path">
                    <fa-icon [icon]="link.icon" ></fa-icon>
                    {{link.linkText}}
                </a>
            </li>            
        </ul>
    </nav>
</header>
