
<h3 style="color: black;">Employee Details</h3>

<div class="alert alert-info" *ngIf="!(errMsg || emps)">
    <strong>Loading Data! Please wait...!</strong>
</div>

<div class="alert alert-danger" *ngIf="errMsg">
    <strong>{{errMsg}}</strong>
</div>

<table *ngIf="emps" class="table table-bordered table-condensed table-hover" style="cursor:pointer">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Department Id </th>
            <th>Department Name </th>
            <th>Registration Time </th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{emps.employeeId}}</td>
            <td>{{emps.firstName}}</td>
            <td>{{emps.lastName}}</td>
            <td>{{emps.email}}</td>
            <td>{{emps.department.departmentId}}</td>
            <td>{{emps.department.departmentName}}</td>
            <td>{{emps.timeStamp}}</td>


        </tr>
    </tbody>
</table>